<div class="d-flex flex-column justify-content-center align-items-center text-dark-emphasis" style="height:
100vh">
   <div *ngIf="challenges.length > 0" class="card" style="width: 40rem;">
      <h3 class="card-header">All Challenges</h3>
      <div *ngFor="let challenge of challenges" class="card-body">
         <div class="mb-0">
            <p class="fs-5 mb-0">{{ challenge.description }}</p>
            <p class="blockquote-footer fs-6">{{ challenge.month }}</p>
         </div>
         <div class="d-flex justify-content-between">
            <button class="btn btn-primary float-right pt-0 pb-0"
                    (click)="updateButton(challenge); updateToggle()"
                    data-bs-toggle="modal"
                    data-bs-target="#updateModal"
            >Update
            </button>
            <button class="btn btn-danger float-right pt-0 pb-0"
                    (click)="deleteChallenge(challenge)"
            >Delete
            </button>
         </div>
         <hr class="mb-0 opacity-5">
      </div>
   </div>
</div>


<div class="modal fade" id="updateModal"
     tabindex="-1"
     aria-labelledby="updateModalLabel"
     aria-hidden="true"
>
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title mb-0" id="updateModalLabel">Update Challenge</h1>
            <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"
            ></button>
         </div>

         <div class="modal-body">
            <form
               [formGroup]="updateDialog"
               (ngSubmit)="$event.preventDefault(); updateChallenge()">
               <div class="mb-3">
                  <label for="month" class="form-label fw-medium">Month</label>
                  <input
                     type="text"
                     class="form-control"
                     id="month"
                     aria-describedby="chooseMonth"
                     placeholder="Update Month"
                     formControlName="month"
                  >
                  <div class="form-text"
                       *ngIf="!updateDialog.get('month')?.dirty && !updateDialog.get('month')?.touched"
                  >
                     Update the month for the challenge
                  </div>

                  <div *ngIf="updateDialog.controls.month.invalid &&
                 (updateDialog.controls.month.dirty || updateDialog.controls.month.touched)"
                  >
                     <small class="text-danger"
                            *ngIf="updateDialog.controls.month.hasError('required')"
                     >*required</small>

                     <small
                        class="text-danger"
                        *ngIf="updateDialog.controls.month.hasError('minlength')"
                     >*length is less than 3</small>

                     <small
                        class="text-danger"
                        *ngIf="updateDialog.controls.month.hasError('maxlength')"
                     >*length more that 10</small>
                  </div>
               </div>

               <div class="mb-3">
                  <label for="description" class="form-label fw-medium">Description</label>
                  <input
                     type="text"
                     class="form-control"
                     id="description"
                     aria-describedby="updateDescription"
                     placeholder="Update Description"
                     formControlName="description"
                  >
                  <div class="form-text"
                       *ngIf="!updateDialog.get('description')?.dirty && !updateDialog.get('description')?.touched"
                  >
                     Update the description for the challenge
                  </div>

                  <div *ngIf="updateDialog.controls.description.invalid &&
                 (updateDialog.controls.description.dirty || updateDialog.controls.description.touched)"
                  >
                     <small class="text-danger"
                            *ngIf="updateDialog.controls.description.hasError('required')"
                     >*required</small>

                     <small
                        class="text-danger"
                        *ngIf="updateDialog.controls.description.hasError('minlength')"
                     >*length is less than 10</small>

                     <small
                        class="text-danger"
                        *ngIf="updateDialog.controls.description.hasError('maxlength')"
                     >*length more that 50</small>
                  </div>
               </div>
               <button type="submit" class="btn btn-success pt-0 pb-0"
                       data-bs-dismiss="modal"
                       [disabled]="!updateDialog.valid"
               >Save
               </button>
            </form>
         </div>
      </div>
   </div>
</div>