<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brown Pizza Design</title>
        <link rel="stylesheet" href="/css/design.css">
        <link rel="stylesheet" href="/css/animations.css">
    </head>
    <body>
        <div class="pizza-design-container fadeIn">
            <h1 class="heading">Design Your Pizza</h1>
            <form th:object="${pizza}" th:action="@{/design}" method="post">
                <div class="form-group">
                    <label for="size">Select Pizza Size:</label>
                    <select th:field="*{size}" id="size" class="styled-select">
                        <option th:each="size : ${sizes}" th:value="${size}" th:text="${size}">Size</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="crustType">Select Crust Type:</label>
                    <select th:field="*{crustType}" id="crustType" class="styled-select">
                        <option th:each="crust : ${crustTypes}" th:value="${crust}" th:text="${crust}">Crust Type</option>
                    </select>
                </div>

                <!-- Ingredient types arranged left and right -->
                <div class="ingredient-container">
                    <div class="ingredient-column">
                        <div th:each="type, iterStat : ${ingredientTypes}"
                             th:if="${iterStat.index % 2 == 0}"
                             class="ingredient-type slideInLeft">
                            <h3 th:text="${type.name()}">INGREDIENT TYPE</h3>
                            <div th:each="ingredient : ${ingredientList}" class="ingredient">
                                <div th:if="${ingredient.type == type}">
                                    <label>
                                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                                        <span th:text="${ingredient.name}">INGREDIENT</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ingredient-column">
                        <div th:each="type, iterStat : ${ingredientTypes}"
                             th:if="${iterStat.index % 2 == 1}"
                             class="ingredient-type slideInRight">
                            <h3 th:text="${type.name()}">INGREDIENT TYPE</h3>
                            <div th:each="ingredient : ${ingredientList}" class="ingredient">
                                <div th:if="${ingredient.type == type}">
                                    <label>
                                        <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                                        <span th:text="${ingredient.name}">INGREDIENT</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Enter name:</label>
                    <input type="text" id="name" th:field="*{name}" class="styled-input"/>
                </div>
                <button type="submit" class="btn-submit">Create Pizza</button>
            </form>
        </div>
        <script src="/js/animations.js"></script>
    </body>
</html>
