<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brown Pizza Design</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/design.css">
    </head>
    <body>
        <div th:replace="brown-pizza :: header"></div>

        <h1>Design Your Pizza</h1>
        <form th:object="${pizza}" th:action="@{/design}" method="post">
            <div class="form-group">
                <label for="size">Select Pizza Size:</label>
                <select th:field="*{size}" id="size">
                    <option th:each="size : ${sizes}" th:value="${size}"
                            th:text="${size}">Size
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="crustType">Select Crust Type:</label>
                <select th:field="*{crustType}" id="crustType">
                    <option th:each="crust : ${crustTypes}" th:value="${crust}"
                            th:text="${crust}">Crust Type
                    </option>
                </select>
            </div>
            <div th:each="type : ${ingredientTypes}" class="ingredient-type">
                <h3 th:text="${type.name()}">INGREDIENT TYPE</h3>
                <div th:each="ingredient : ${ingredients}" class="ingredient">
                    <div th:if="${ingredient.type == type}">
                        <label>
                            <input type="checkbox" th:field="*{ingredients}"
                                   th:value="${ingredient.id}"/>
                            <span th:text="${ingredient.name}">INGREDIENT</span>
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <label for="name">Enter name:</label>
                <input type="text" id="name" th:field="*{name}"/><br/>
            </div>
            <button type="submit">Create Pizza</button>
        </form>
    </body>
</html>
