<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Order</title>
    </head>
    <body>
        <h1>Create Order</h1>
        <form th:action="@{/order/create}" method="post" th:object="${order}">

            <h3>Your pizzas in this order</h3>

            <ul>
                <li th:each="pizza : ${order.pizzas}">
                    <span th:text="${pizza.name}">Pizza Name</span>
                </li>
            </ul>

            <h2>Order Details</h2>
            <label for="customerName">Customer Name:</label>
            <input type="text" id="customerName" th:field="*{customerName}" required minlength="3"><br>

            <label for="deliveryStreet">Street:</label>
            <input type="text" id="deliveryStreet" th:field="*{deliveryStreet}" required><br>

            <label for="deliveryCity">City:</label>
            <input type="text" id="deliveryCity" th:field="*{deliveryCity}" required><br>

            <label for="deliveryState">State:</label>
            <input type="text" id="deliveryState" th:field="*{deliveryState}" required><br>

            <label for="pinCode">Pin-code:</label>
            <input type="text" id="pinCode" th:field="*{pinCode}" required minlength="6" maxlength="6"><br>


            <button type="submit">Create Order</button>
        </form>
    </body>
</html>