<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pizza Summary</title>
        <link rel="stylesheet" href="/css/summary.css">
    </head>
    <body>
        <div class="container">
            <h1 class="title">Pizza Summary</h1>
            <div class="summary-card">
                <div class="pizza-detail">
                    <h2 class="pizza-name" th:text="${pizza.name}">Pizza Name</h2>
                    <p class="pizza-size" th:text="'Size: ' + ${pizza.size}">Size</p>
                    <p class="pizza-crust" th:text="'Crust Type: ' + ${pizza.crustType}">Crust Type</p>
                </div>
                <div class="ingredients-section">
                    <h3>Ingredients</h3>
                    <div class="ingredients">
                    <span th:each="ingredient : ${pizza.ingredients}"
                          th:text="${ingredient.name}"
                          class="ingredient-badge">
                        Ingredient
                    </span>
                    </div>
                </div>
                <div class="price-section">
                    <h3>Total Price</h3>
                    <p class="price" th:text="${pizza.finalPrice}">Price</p>
                </div>
            </div>
        </div>
        <script src="/js/summary.js"></script>
    </body>
</html>
