<div class="dropdown d-flex flex-column justify-content-center align-items-center">
   <button class="btn btn-primary"
           type="button"
           id="dropdownMenuButton"
           (click)="toggleChallenges()"
   >Saved Challenges
   </button>

   <div *ngIf="showChallenges" class="mt-3">
      <div class="card" *ngFor="let challenge of challenges" style="width: 30rem">
         <div class="card-body">
            <div class="card-header">
               {{ challenge.month }}
            </div>
            <p class="card-text">{{ challenge.description }}</p>
         </div>
      </div>
   </div>
</div>